footer{
    background-color: gray;
}
footer p{

    font-size: 1.2em;
    color: white;
}
p{
    font-size: 1.2em;
}
footer p{
    text-align: center;
}
div a{

    font-size: 1.2em;
}
img{
    height: 635px;
    width: 1240px;
}
h1{
    font-weight: bold;

}


    