footer{
    background-color: gray;
}
footer p{

    font-size: 1.2em;
    color: white;
}
p{
    font-size: 1.2em;
}
footer p{
    text-align: center;
}
div a{

    font-size: 1.2em;
}
img{
    height: 635px;
    width: 1240px;
}
h1{
    font-weight: bold;

}
h1{
    
    color: blue;
    
} 
div p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    

}
div section article p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;

}
div section p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

img{

    height: 500px;
    width: 1225px;
}
div p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    

}
div section article p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;

}
div section p{
    font-size: 20px;
    font-weight: bold;
    

    }